/common/target/
/target/
/.svn/
/src/.svn/
/src/main/.svn/
/src/main/java/.svn/
/src/main/java/jigsaw/.svn/
/src/main/java/jigsaw/transfer/.svn/
/src/main/java/jigsaw/util/.svn/
/src/main/java/jigsaw/util/transfer/.svn/
/src/main/java/jigsaw/util/transfer/experimental/.svn/
/src/main/resources/.svn/
/src/test/.svn/
/src/test/java/.svn/
/src/test/java/jigsaw/.svn/
/src/test/java/jigsaw/transfer/.svn/
/src/test/java/jigsaw/util/.svn/
/src/test/java/jigsaw/util/transfer/.svn/
/transfer/src/.svn/
/transfer/src/main/.svn/
/transfer/src/main/java/.svn/
/transfer/src/main/java/jigsaw/.svn/
/transfer/src/main/java/jigsaw/transfer/.svn/
/transfer/src/main/java/jigsaw/util/.svn/
/transfer/src/main/java/jigsaw/util/transfer/.svn/
/transfer/src/main/java/jigsaw/util/transfer/experimental/.svn/
/transfer/src/main/resources/.svn/
/transfer/src/test/.svn/
/transfer/src/test/java/.svn/
/transfer/src/test/java/jigsaw/.svn/
/transfer/src/test/java/jigsaw/transfer/.svn/
/transfer/src/test/java/jigsaw/util/.svn/
/transfer/src/test/java/jigsaw/util/transfer/.svn/